aside{
  width: 296px;
  height: 100vh;
}

main{
  width: calc(100% - 296px);
}

.logo{
  background: url(https://hexschool.github.io/webLayoutTraining1st/week5/logo-ANSWER.svg) no-repeat;
  height: 40px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.nav{
  a{
    &:hover{
      color: theme-color("dark");
      background-color: theme-color("green-light");
    }

    &.active{
      color: theme-color("primary");
      border-left: 4px solid theme-color("primary");
    }
  }
}

.portrait{
  width: 40px;
  height: 40px;
  object-fit: cover;
}