.pagination{
  .material-icons{
    font-size: $font-size-base;
    transform: translateY(-.1em);
    color: theme-color("primary");
  }
}

.admin-img{
  width: 141px;
  height: 141px;
  object-fit: cover;
}

.expand-arrow[aria-expanded="true"]{
  .material-icons{
    transform: rotate(180deg);
  }
}