.assignment-list{
  width: 35%;
}

.assignment-content{
  width: 63%;

  .card-body{
    button{
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.list-group-item{
  margin-bottom: -1px;
}

.reply{
  bottom: 0;
  right: 0;
}